* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(196, 233, 245);
    height: 35rem;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 15rem;
    height: fit-content;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
}

img {
    border-radius: 0.5rem;
    width: 14.8rem;
    height: auto;

}

h1, p {
    padding-top: 0.3rem;
}

h1 {
    font-size: 1rem;
}

p {
    font-size: 0.7rem;
}